In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.read_json('train.json').head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [3]:
# pd.read_json(URL)

# SQL Data

In [4]:
# WE need to use mysql.connecter to use sql data 

# pip install mysql.connector

# conn = import mysql.coonector.connect(host='localhost', user='root', password='', datebase='world') # will get the mysql object
# pd.read_sql_query('Select * From city WHERE contrycode LIKE "IND"', conn)

# Export

In [6]:
df = pd.DataFrame({'name': ['Garuav', 'Patel'], 'marks':[10,10]})
df

     name  marks
0  Garuav     10
1   Patel     10

In [ ]:
# df.to_csv('Result.csv', index=False)
# df.to_excel('ExcelFile.xlsx')
# df.to_excel('output.xlsx', sheet_name='sheet_two')

In [7]:
with pd.ExcelWriter('output.xlsx') as writer:
    df.to_excel(writer, sheet_name='sheet1_name')
    df.to_excel(writer, sheet_name='sheet1_name2')

In [ ]:
# import pymysql
# from sqlalchemy import create_engine('mysql+pymsql://root@localhost/ipl')
# # {root}:{password}@{url}{database}
# df.to_sql('ipl', con = engine, if_exists='append')